node_modules
**/node_modules
dist
**/dist
build
coverage
*.log
.git
.gitignore
**/.env
**/.env.*
!**/.env.example
backend/prisma/*.db
backend/prisma/*.db-journal
**/tsconfig.tsbuildinfo
.claude
.spec
.vscode
README.md
CLAUDE.md
